@import "tailwindcss";

:root {
  --primary: #109ece;
  --secondary: #085068;
  --background: #f2eded;
  --text: #111827;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-background: var(--background);
}

.input {
  @apply w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-400 transition-colors focus:border-primary focus:outline-none;
}

.label-input {
  @apply mb-1 block text-sm font-medium text-gray-800;
}

.checkbox {
  @apply size-4 cursor-pointer rounded border border-gray-300 text-primary transition-colors focus:ring focus:ring-primary
}

.button-default {
  @apply flex items-center rounded-md py-2.5 px-4 text-base font-bold text-white transition-colors bg-linear-65 from-primary to-secondary disabled:opacity-50 cursor-pointer
}

.button-default-sm {
  @apply flex items-center rounded-md py-2 px-3 text-sm font-medium text-white transition-colors bg-linear-65 from-primary to-secondary disabled:opacity-50 cursor-pointer
}

.button-secondary {
  @apply flex items-center rounded-md py-2.5 px-4 text-base font-medium transition-colors bg-white text-secondary border border-secondary disabled:opacity-50 cursor-pointer
}

.button-secondary-sm {
  @apply flex items-center rounded-md py-2 px-3 text-sm font-medium transition-colors bg-white text-secondary border border-secondary disabled:opacity-50 cursor-pointer
}
